@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: CoveredByYourGrace-Regular;
    src: url(../fonts/Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf);
}